<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body style="margin: 0">
    <img src="/images/404.png" style="margin-left: 10%;width: 80%;margin-top: 30%;">
    <div style=" width: 100%;text-align: center;margin-top: 2em;">
        <span style="font-size: 1.5em;color: #a1bbd1;">呀，页面弄丢了~</span>
    </div>
</body>
</html>